.shopContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}