.navContainer{
    position: sticky;
    top: 0;
    background: #1C2B35;
    display: flex;
    align-items: center;
    height : 80px;
    justify-content: space-between;
    z-index: 1;
}
.navContainer img{
    margin-left: 70px;
    cursor: pointer;
}
.navContainer a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    cursor: pointer;
}
.navContainer a:hover{
    color: orangered;
}
.list{
    display: flex;
    margin-right: 70px;
}