.CartDesign{
    border: 1px solid rgb(165, 165, 165);
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CartDesign p{
    margin: 0px;
}

.CartDesign img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.CartInfo{
    display: flex;
    align-items: center;
}
.CartText{
    margin-left: 10px;
}
.deleteIcon{
    font-size: 26px;
    margin-right: 22px;
    padding: 5px;
    color: rgb(241, 49, 49);
    background: rgb(250, 192, 192);
    border-radius: 50%;
    cursor: pointer;
}
span{
    color: orange;
}