.form-container{
    /* margin-top: 15vh; */
    margin: 15vh auto;
    width: 380px;
    border: 1px solid goldenrod ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-container input{
    margin-bottom: 10px;
    margin-top: 2px;
    width: 320px;
    height: 30px;
    border: 1px solid goldenrod ;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}
.form-container p{
    font-size: 26px;
}
.btn{
    margin-top: 30px;
    background: rgb(248, 217, 140);
    border: 1px solid rgb(248, 217, 140) ;
    width:100%;
    height: 40px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
}
.btn:hover{
    background:rgb(244, 202, 96) ;
}
small{
    font-size: 12px;
}
.or-box{
    align-items: center;
    width: 100%;
    text-align: center;
}
.or-box .btn{
    width: 330px;
    margin:10px 0;
    
}